@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

* {
    font-family: teko, sans-serif;
}

body {
    background-size: cover;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 170, 255);
    opacity: 0.7;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}

.my-name {
    padding-left: 10px;
    padding-right: 10px;
}

.my-name-inside {
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
}

.links-mana {
    vertical-align: middle;
    width: 200px;
}

.links {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-ele {
    text-decoration: none;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

.profile-img-mana {
    margin-top: 26px;
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.my-pic {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.my-name-inside-below-profile-img {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: white;
}

.small-intro {
    text-align: center;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}