@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

* {
    font-family: teko, sans-serif;
}

body {
    background-size: cover;
    padding-top: 50px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: #115D9D;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 40px;
}

.my-name {
    padding-left: 10px;
    padding-right: 10px;
}

.my-name-inside {
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.links-mana {
    width: 200px;
}

.links {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-ele {
    text-decoration: none;
    font-weight: bold;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: background-color 0.15s;
}

.links-ele:hover {
    background-color: rgb(122, 197, 234);
}

.profile-img-mana {
    margin-top: 26px;
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.my-pic {
    height: 100%;
    width: 100%;
    border-radius: 100px;
}

.my-name-inside-below-profile-img {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: white;
}

.small-intro {
    text-align: center;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.intro {
    font-weight: 500;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bar-contain-html {
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 36px;
    margin-bottom: 20px;
}

.progress-html {
    width: 200px;
    background-color: green;
    border-radius: 36px;
    text-align: center;
    color: white;
}

.bar-contain-css {
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 36px;
    margin-bottom: 20px;
}

.progress-css {
    width: 175px;
    background-color: green;
    border-radius: 36px;
    text-align: center;
    color: white;
}

.bar-contain-cpp {
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 36px;
    margin-bottom: 20px;
}

.progress-cpp {
    width: 280px;
    background-color: green;
    border-radius: 36px;
    text-align: center;
    color: white;
}

.bar-contain-py {
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 36px;
    margin-bottom: 20px;
}

.progress-py {
    width: 110px;
    background-color: green;
    border-radius: 36px;
    text-align: center;
    color: white;
}

.bar-contain-vn {
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 36px;
    margin-bottom: 20px;
}

.progress-vn {
    width: 300px;
    background-color: grey;
    border-radius: 36px;
    text-align: center;
    color: white;
}

.bar-contain-english {
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 36px;
    margin-bottom: 20px;
}

.progress-english {
    width: 190px;
    background-color: green;
    border-radius: 36px;
    text-align: center;
    color: white;
}

.bar-contain-jp {
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-radius: 36px;
    margin-bottom: 20px;
}

.progress-jp {
    width: 110px;
    background-color: green;
    border-radius: 36px;
    text-align: center;
    color: white;
}

.linkers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.my-info {
    color: white;
    font-size: 20px;
}

.git-link-storer {
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.linker {
    width: 100%;
    height: 100%;
    font-size: 20px;
    vertical-align: bottom;
    border-style: solid;
    border-radius: 36px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
    text-decoration: none;
    color: white;
    transition: background-color 0.15s, color 0.15s;
}

.linker:hover {
    background-color: white;
    color: black;
}